<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>jQWidgets Material Design</title>
    <!-- add the jQWidgets base styles and one of the theme stylesheets -->
    <link rel="stylesheet" href="../../jqwidgets-ver12.0.4/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="../../jqwidgets-ver12.0.4/jqwidgets/styles/jqx.material.css" type="text/css" />
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/scripts/jquery.js"></script>
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxgrid.columnsresize.js"></script> 
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxgrid.filter.js"></script> 
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxgrid.sort.js"></script> 
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxgrid.pager.js"></script> 
    <script type="text/javascript" src="../../jqwidgets-ver12.0.4/jqwidgets/jqxgrid.grouping.js"></script> 
    <script type="text/javascript">
        window.onload = function() {
            const button = new jqxButton("button", { width: '120px', height: '35px', theme: 'material'});
        };
    </script>	
</head>
<body>
	<button id="button">Button</button>
</body>
</html>