<html lang="en">
<head>
    <!-- 기본 JqWidjet Import 부분 -->
    <title id='Description'>과제1 jqxGrid</title>
    <link rel="stylesheet" href="http://jqwidgets.com/public/jqwidgets/styles/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://jqwidgets.com/public/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="http://jqwidgets.com/public/jqwidgets/jqxdata.js"></script> 
    <script type="text/javascript" src="http://jqwidgets.com/public/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="http://jqwidgets.com/public/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="http://jqwidgets.com/public/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="http://jqwidgets.com/public/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="http://jqwidgets.com/public/jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="http://jqwidgets.com/public/jqwidgets/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="http://jqwidgets.com/public/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="http://jqwidgets.com/public/jqwidgets/jqxgrid.aggregates.js"></script> 
    <script type="text/javascript" src="http://jqwidgets.com/public/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="http://jqwidgets.com/public/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="http://jqwidgets.com/public/jqwidgets/jqxlistbox.js"></script>
    {{{body}}}
</head>
<body>
    <div id="target"></div>
</body>
</html>